<html>

<body>
	<p>{{.Title}}</p>

	<p>{{.Body}}</p>
	<a href="/">Home</a>
	</br>
</body>

Select a piece:</br>
<img src="/white/white.png" onclick="setCurrent('w')" id = "w" style = "padding: 5px;"/>
<img src="/black/black.png" onclick="setCurrent('b')" id = "b" style = "padding: 5px;"/>
</br>
</br>
<canvas id="maingame" width="0" height="0"/>

</html>

<script>

var blackPieces = {{.Bp}};
var whitePieces = {{.Wp}};
var boardWidth = {{.Width}};
var boardState = "{{.State}}";
var boardSearch = boardState;
var instance = {{.Instance}};
var whiteImg = new Image();
whiteImg.src = "/white/white.png"
var blackImg = new Image();
blackImg.src = "/black/black.png"
var current = '';
var capw = 'C';
var capb = 'D';
var emptw = 'E';
var emptb = 'F';
var canvas = document.getElementById("maingame");
canvas.width = boardWidth*36+18;
canvas.height = boardWidth*36+18;
var ctx = canvas.getContext("2d");
ctx.fillStyle = "#FF0000";

var offset = 36;
load();


//draw all the pieces
function load(){
	ctx.clearRect(0, 0, canvas.width, canvas.height);
	var overs = checkEnd();
	if(overs.over==true){
		if(overs.bp<overs.wp){
			win();
		} else{
			lose();
		}
	}
	var drawLine = function(x0, y0, x1, y1) {
		ctx.moveTo(x0,y0);
		ctx.lineTo(x1,y1);
		ctx.stroke();
	}

	// horizontal draw
	var x0 = offset/2;
	var y0 = offset/2;
	var x1 = offset*(boardWidth) - offset/2;
	var y1 = offset/2;

	for(i = 0; i < boardWidth; i++, y0+=offset, y1+=offset) {
		drawLine(x0,y0,x1,y1);
	}

	// vertical draw
	var x0 = offset/2;
	var y0 = offset/2;
	var x1 = offset/2;
	var y1 = offset*(boardWidth) - offset/2;

	for(j = 0; j < boardWidth; j++, x0+=offset, x1+=offset) {
		drawLine(x0,y0,x1,y1);
	}


	//draw the pieces
	for(i=0; i<boardState.length;i++)
	{
		xcord = (i%(boardWidth))*offset;
		ycord = (Math.floor(i/(boardWidth)))*offset;
		if(boardState[i] == 'b'){
			ctx.drawImage(blackImg, xcord, ycord);
		} else if (boardState[i] == 'w'){
			ctx.drawImage(whiteImg, xcord, ycord);
		}
	}

}


//get mouse position on canvas
var clicked = function getMousePos(event) {
	var totalOffsetX = 0;
	var totalOffsetY = 0;
	var canvasX = 0;
	var canvasY = 0;
	var currentElement = this;

	do{
		totalOffsetX += currentElement.offsetLeft - currentElement.scrollLeft;
		totalOffsetY += currentElement.offsetTop - currentElement.scrollTop;
	}while(currentElement = currentElement.offsetParent);

	canvasX = event.pageX - totalOffsetX;
	canvasY = event.pageY - totalOffsetY;
	place(canvasX,canvasY);
	
}

//look for when canvas is clicked
canvas.addEventListener('click', clicked, false);


//replace a character in a string at given index
String.prototype.replaceAt=function(index, character) {
	return this.substr(0, index) + character + this.substr(index+character.length);
}


//called from canvas click: place a piece on the board
function place(x, y){
	x = Math.floor((x)/offset);
	y = Math.floor((y)/offset);
	var is,js;
	if((boardState.charAt(x+y*boardWidth)!='e' || !current)){
		return;
	}
	boardState = boardState.replaceAt(y*boardWidth+x, current);
	if(x>=boardWidth || y>=boardWidth || numLiberties(x, y).liberties ==0){
		boardState = boardState.replaceAt(y*boardWidth+x, 'e');
		return;
	}

	placePiece(x, y, current);
	checkCapture();
	boardState = boardState.replaceAt(y*boardWidth+x, current);
	console.log(boardState);
	load();
}


//Depth fisrt search for capture
function DFS(xs, ys){
	var is,js;
	var cpieceType =  boardSearch.charAt(ys*boardWidth+xs);
	var cpieceOp = boardSearch.charAt(ys*boardWidth+xs)=='w'?'b':'w';
	var repChar = cpieceType.toUpperCase();
	var neighborD = 0;

	if(cpieceType == 'b' || cpieceType  == 'w'){
		neighborD = 4;
		boardSearch = boardSearch.replaceAt(ys*boardWidth+xs, repChar);

loop:{
			for(js=ys-1;js<ys+2;js++){
				if(js<0 || js>=boardWidth){
					neighborD--;
					continue;
				}
				for(is=xs-1;is<xs+2;is++){
					if((js==ys-1 && is!=xs) || (js==ys+1 && is!=xs) || (js==ys && is==xs)){
						continue;
					}
					if(is<0 || is>=boardWidth){
						neighborD--;
						continue;
					}
					var nextChar = boardSearch.charAt(js*boardWidth+is);
					if(nextChar==cpieceType){
						DFS(is, js);
					}
					var newChar = boardSearch.charAt(js*boardWidth+is);
					if (newChar == 'e'){
						repChar = (cpieceType=='w'?emptw:emptb);
						break loop;
					}
					if (newChar==emptw || newChar==emptb){
						if((cpieceType=='w'?emptw:emptb) == newChar){
							repChar = (cpieceType=='w'?emptw:emptb);
							break loop;
						}
					}
					if(cpieceType == nextChar.toLowerCase()){
						repChar = nextChar;
					}
					neighborD--;
				}
			}
		}
		//potential capture
		if(neighborD <= 0){
			repChar = (cpieceType=='w'?capw:capb);
		}
		//placePiece(xs, ys, 'e');
		//console.log("out! " + xs + ", "+ ys + " " + neighborD);
		boardSearch = boardSearch.replaceAt(ys*boardWidth+xs, repChar);
	}
}


//remove pieces with 0 liberties
function checkCapture(){
	for(j=0; j<boardWidth; j++){
		for(i=0; i<boardWidth; i++){
			boardSearch = boardState;
			DFS(i, j);
			if(boardSearch.charAt(j*boardWidth+i) == capw || boardSearch.charAt(j*boardWidth+i) == capb){
				placePiece(i, j, 'e');
			}
		}
	}
}


//check if game is over
function checkEnd(){
	var wp = 0;
	var bp = 0;
	for(j=0; j<boardWidth; j++){
		for(i=0; i<boardWidth; i++){
			if(boardState.charAt(j*boardWidth+i) == 'w'){
				wp++;
			} else if(boardState.charAt(j*boardWidth+i) == 'b'){
				bp++;
			}else if (numLiberties(i, j).liberties !=0){//if (numLiberties(i, j).liberties!=0)
				return {
					over: false
				};
			}
		}
	}
	return {
over: true,
wp: wp,
bp: bp,
total: wp+bp
	};
}


//check pieces
function countPieces(states){
	var wp = 0;
	var bp = 0;
	for(j=0; j<boardWidth; j++){
		for(i=0; i<boardWidth; i++){
			if(states.charAt(j*boardWidth+i) == 'w'){
				wp++;
			} else if(states.charAt(j*boardWidth+i) == 'b'){
				bp++;
			}
		}
	}
	return {
wp: wp,
bp: bp
	};
}


//send the place piece to the server
function placePiece(x, y, pieceType){
	path = "http://" + location.host + '/move/'+("0" + x).slice(-2) + "" + ("0" + y).slice(-2)+ pieceType+ ("00" + instance).slice(-3);
	xmlHttp = new XMLHttpRequest();
	xmlHttp.open( "GET", path, false ); // false for synchronous request
	xmlHttp.send( null );
}


//find the number of liberties
function numLiberties(x, y){
	var is,js;
	liberties = 4;
	libertiesf = 0;
	libertiese = 0;
	libertiesempty = 0;
	samePiece =  boardState.charAt(y*boardWidth+x);
	opPiece = samePiece=='b'?'w':'b';
	//console.log(x + ", " + y + " " +samePiece);
	
	for(js=y-1;js<y+2;js++){
		if(js<0 || js>=boardWidth){
			liberties--;
			continue;
		}
		for(is=x-1;is<x+2;is++){
			if((js==y-1 && is!=x) || (js==y+1 && is!=x) || (js==y && is==x)){
				continue;
			}
			if(is<0 || is>=boardWidth){
				liberties--;
				continue;
			}
			var nextNeighbor = boardState.charAt(js*boardWidth+is);
			if (nextNeighbor != 'e'){
				liberties--;
			}
			if (nextNeighbor == samePiece){
				libertiesf++;
			}
			if (nextNeighbor == opPiece){
				libertiese++;
			}
			if (nextNeighbor == 'e'){
				libertiesempty++;
			}
		}
		
	}
	return {
		liberties: liberties,
		libertiesf: libertiesf,
		libertiese: libertiese,
		libertiesempty: libertiesempty
	};
}


//select the piece player clicked
function setCurrent(cur){
	current = cur;
	document.getElementById(cur).style = "border-style: dotted; border-width: 5px;";
	notcur = ((cur=='b')?"w":"b");
	document.getElementById(notcur).style ="padding: 5px;";
}


//win the game
function win() {
	location.href = '/over/w/'+instance;
}


//lose the game
function lose() {
	location.href = '/over/b/'+instance;
}


//check if game is updated
var check = function() {
	xmlHttp = new XMLHttpRequest();
	path = "http://" + location.host + '/string/'+instance;
	xmlHttp.open( "GET", path, false ); // false for synchronous request
	xmlHttp.send( null );
	if(xmlHttp.responseText != boardState){
		boardState = xmlHttp.responseText;
		load();
	}
}


var timer = setInterval(check, 1000);


</script>